services:
  - type: web
    name: bytevideochat-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    plan: free
    envVars:
      - key: PORT
        value: 8000
      - key: MONGO_URL
        sync: false